@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section class="video-container">
        <h2>Watch my Favorite Music Video:</h2>
       
</div>
